<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigLock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{178,380},{58,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{178,440},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contentBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,158}</string>
                <key>spriteSourceSize</key>
                <string>{383,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{383,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dark_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{76,481},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get_star_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{161,193},{91,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>get_star_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{161,286},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,59}</string>
                <key>spriteSourceSize</key>
                <string>{43,59}</string>
                <key>textureRect</key>
                <string>{{255,158},{43,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>has_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,57}</string>
                <key>textureRect</key>
                <string>{{215,99},{75,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelNum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,52}</string>
                <key>spriteSourceSize</key>
                <string>{190,52}</string>
                <key>textureRect</key>
                <string>{{161,1},{190,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{106,481},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{255,219},{43,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nameBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,32}</string>
                <key>spriteSourceSize</key>
                <string>{198,32}</string>
                <key>textureRect</key>
                <string>{{254,286},{198,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,16}</string>
                <key>spriteSourceSize</key>
                <string>{73,16}</string>
                <key>textureRect</key>
                <string>{{1,481},{73,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,37}</string>
                <key>spriteSourceSize</key>
                <string>{96,37}</string>
                <key>textureRect</key>
                <string>{{255,1},{96,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>starNum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,93}</string>
                <key>spriteSourceSize</key>
                <string>{175,93}</string>
                <key>textureRect</key>
                <string>{{1,386},{175,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{299,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cf22da7706826e7f34f2dd94267e7c5:57af68dda4a65ff073ef1384cf6cf016:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
