<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,55}</string>
                <key>spriteSourceSize</key>
                <string>{125,55}</string>
                <key>textureRect</key>
                <string>{{1,68},{125,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,65}</string>
                <key>spriteSourceSize</key>
                <string>{226,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_password.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,59}</string>
                <key>spriteSourceSize</key>
                <string>{93,59}</string>
                <key>textureRect</key>
                <string>{{229,63},{93,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_username.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,58}</string>
                <key>spriteSourceSize</key>
                <string>{93,58}</string>
                <key>textureRect</key>
                <string>{{324,63},{93,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>perfectTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,60}</string>
                <key>spriteSourceSize</key>
                <string>{208,60}</string>
                <key>textureRect</key>
                <string>{{229,1},{208,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgText.png</string>
            <key>size</key>
            <string>{438,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d602552590693ce084ef117d80094ea5:c87b2c9b50e300d5d74ba7b732d6ac7b:6463f6eff9091088a3df65bf8b989f57$</string>
            <key>textureFileName</key>
            <string>bgText.png</string>
        </dict>
    </dict>
</plist>
