<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{587,225},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{415,93},{69,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{142,190},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,45}</string>
                <key>spriteSourceSize</key>
                <string>{114,45}</string>
                <key>textureRect</key>
                <string>{{514,1},{114,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forget.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,29}</string>
                <key>spriteSourceSize</key>
                <string>{106,29}</string>
                <key>textureRect</key>
                <string>{{514,48},{106,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fykc_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{514,79},{84,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fykc_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{488,123},{84,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,53}</string>
                <key>spriteSourceSize</key>
                <string>{139,53}</string>
                <key>textureRect</key>
                <string>{{1,190},{139,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guest_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,95}</string>
                <key>spriteSourceSize</key>
                <string>{303,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{303,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_big_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,90}</string>
                <key>spriteSourceSize</key>
                <string>{206,90}</string>
                <key>textureRect</key>
                <string>{{1,98},{206,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myhw_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{296,150},{84,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>myhw_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,42}</string>
                <key>textureRect</key>
                <string>{{209,150},{85,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_level_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{340,164},{69,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qfhx_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{413,164},{84,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qfhx_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{457,167},{84,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>radio_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{587,123},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>radio_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{587,174},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,72}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{341,93},{69,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signin_big_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,90}</string>
                <key>spriteSourceSize</key>
                <string>{206,90}</string>
                <key>textureRect</key>
                <string>{{306,1},{206,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wsxb_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,41}</string>
                <key>spriteSourceSize</key>
                <string>{84,41}</string>
                <key>textureRect</key>
                <string>{{457,211},{84,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wsxb_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,42}</string>
                <key>spriteSourceSize</key>
                <string>{85,42}</string>
                <key>textureRect</key>
                <string>{{200,194},{85,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ybtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,50}</string>
                <key>spriteSourceSize</key>
                <string>{130,50}</string>
                <key>textureRect</key>
                <string>{{209,98},{130,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ymhw_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{84,42}</string>
                <key>textureRect</key>
                <string>{{543,167},{84,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{637,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6e625572cf04e77d387a121de18a2f7:2a66305b7f4dfb1fadd266228b604a62:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
