<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,98}</string>
                <key>spriteSourceSize</key>
                <string>{334,98}</string>
                <key>textureRect</key>
                <string>{{643,1},{334,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,112}</string>
                <key>spriteSourceSize</key>
                <string>{268,112}</string>
                <key>textureRect</key>
                <string>{{643,101},{268,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,379}</string>
                <key>spriteSourceSize</key>
                <string>{502,379}</string>
                <key>textureRect</key>
                <string>{{303,495},{502,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>board_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,147}</string>
                <key>spriteSourceSize</key>
                <string>{189,147}</string>
                <key>textureRect</key>
                <string>{{684,785},{189,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indexTitleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,112}</string>
                <key>spriteSourceSize</key>
                <string>{640,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,149}</string>
                <key>spriteSourceSize</key>
                <string>{521,149}</string>
                <key>textureRect</key>
                <string>{{1,495},{521,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_input_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,40}</string>
                <key>spriteSourceSize</key>
                <string>{238,40}</string>
                <key>textureRect</key>
                <string>{{979,1},{238,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,210}</string>
                <key>spriteSourceSize</key>
                <string>{380,210}</string>
                <key>textureRect</key>
                <string>{{684,403},{380,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>once_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,98}</string>
                <key>spriteSourceSize</key>
                <string>{382,98}</string>
                <key>textureRect</key>
                <string>{{896,403},{382,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>options_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,77}</string>
                <key>spriteSourceSize</key>
                <string>{414,77}</string>
                <key>textureRect</key>
                <string>{{559,215},{414,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>question_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,378}</string>
                <key>spriteSourceSize</key>
                <string>{556,378}</string>
                <key>textureRect</key>
                <string>{{1,115},{556,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textTitleBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,107}</string>
                <key>spriteSourceSize</key>
                <string>{444,107}</string>
                <key>textureRect</key>
                <string>{{559,294},{444,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unlockBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,149}</string>
                <key>spriteSourceSize</key>
                <string>{521,149}</string>
                <key>textureRect</key>
                <string>{{152,495},{521,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgBoard.png</string>
            <key>size</key>
            <string>{1020,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24d108771c448a7148c8e586351a391f:c81ccde7afa158a220ef88becca344cf:11fbd33e783462d41099079cbfdfa408$</string>
            <key>textureFileName</key>
            <string>bgBoard.png</string>
        </dict>
    </dict>
</plist>
