<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backspaceBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,66}</string>
                <key>spriteSourceSize</key>
                <string>{137,66}</string>
                <key>textureRect</key>
                <string>{{356,1},{137,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charBtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1,106},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charBtn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{69,67}</string>
                <key>textureRect</key>
                <string>{{71,106},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charBtn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,66}</string>
                <key>textureRect</key>
                <string>{{183,63},{69,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charBtn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{254,63},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charBtn5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{69,67}</string>
                <key>textureRect</key>
                <string>{{142,131},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charBtn6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{213,131},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charBtn7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{69,67}</string>
                <key>textureRect</key>
                <string>{{282,134},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charBtn8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{69,67}</string>
                <key>textureRect</key>
                <string>{{353,134},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charBtn9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{69,67}</string>
                <key>textureRect</key>
                <string>{{424,134},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,61}</string>
                <key>spriteSourceSize</key>
                <string>{180,61}</string>
                <key>textureRect</key>
                <string>{{1,43},{180,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energyBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,60}</string>
                <key>spriteSourceSize</key>
                <string>{161,60}</string>
                <key>textureRect</key>
                <string>{{193,1},{161,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friends.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,70}</string>
                <key>spriteSourceSize</key>
                <string>{69,70}</string>
                <key>textureRect</key>
                <string>{{1,175},{69,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,63}</string>
                <key>spriteSourceSize</key>
                <string>{178,63}</string>
                <key>textureRect</key>
                <string>{{323,69},{178,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{73,339},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,129}</string>
                <key>spriteSourceSize</key>
                <string>{145,129}</string>
                <key>textureRect</key>
                <string>{{193,343},{145,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>receive_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>receive_disabled_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,68}</string>
                <key>spriteSourceSize</key>
                <string>{203,68}</string>
                <key>textureRect</key>
                <string>{{278,203},{203,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,68}</string>
                <key>spriteSourceSize</key>
                <string>{203,68}</string>
                <key>textureRect</key>
                <string>{{73,269},{203,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,68}</string>
                <key>spriteSourceSize</key>
                <string>{203,68}</string>
                <key>textureRect</key>
                <string>{{278,273},{203,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,67}</string>
                <key>spriteSourceSize</key>
                <string>{203,67}</string>
                <key>textureRect</key>
                <string>{{73,200},{203,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unlock_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,129}</string>
                <key>spriteSourceSize</key>
                <string>{145,129}</string>
                <key>textureRect</key>
                <string>{{340,343},{145,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weibo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,246},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,318},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ico.png</string>
            <key>size</key>
            <string>{502,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59bedfcb794f1a495bd9084c8e7e58bc:3cd144e49b8d27cc904414818409c757:5bc3a137276d8a97e07fe75bb395905b$</string>
            <key>textureFileName</key>
            <string>ico.png</string>
        </dict>
    </dict>
</plist>
